

body{background:#f6f8fa;}
.padding-top--md{padding-top:0!important;}

.theme-doc-sidebar-container{
	background:#fff;
}
:root {
    --detail-padding:27px;
    --detail-margin:-27px;
}
.main{
	margin:0 auto;
	padding:20px 30px;font-size:17px;
	background:#fff;border-radius:8px;
	border:1px solid rgb(0,0,0,0.0618);
}



.main .theme-doc-markdown h1,
.main .theme-doc-markdown h2,
.main .theme-doc-markdown h3,
.main .theme-doc-markdown h4,
.main .theme-doc-markdown h5,
.main .theme-doc-markdown h6{padding-bottom:3px;border-bottom:3px double #ddd;font-weight:500;}



.main .theme-doc-markdown h1{margin:2rem 0 1rem;}
.main .theme-doc-markdown h2{margin:1.8rem 0 0.8rem;}
.main .theme-doc-markdown h3{margin:1.5rem 0 0.7rem;}
.main .theme-doc-markdown h4{margin:1.3rem 0 0.6rem;}
.main .theme-doc-markdown h5{margin:1rem 0 0.5rem;}
.main .theme-doc-markdown h6{margin:0.8rem 0 0.5rem;}
.main .theme-doc-markdown header{margin:0 -30px 13px -30px;padding:0 30px;height:53px;line-height:53px;

border-bottom:3px solid #ddd;}
.main .theme-doc-markdown header>h1{
margin:0;height:40px;line-height:40px;border:none;
font-size:2.1rem;font-weight:500;
}



.main .theme-doc-markdown > blockquote {
  margin: 0 0 1em 0;
  padding: 10px;
  background: #eef0f4;
  border-left: 5px solid #dddfe4;
  font-style: normal;
  font-weight: 400;
  overflow: auto;
  color: #787878;
  display: block;
  word-break: break-word;
  position: relative;
}

